:root {
    --accent-clr: lightblue;
    --bg-clr: brown;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
/* Header styling */
body {
    background-color: #FCF8E8;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: #94B49F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 35px;
}
header h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
}
header h1 a {
    color: #DF7861;
    text-decoration: none;
}
/* NAV */
header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2em;
}


header nav li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: #DF7861;
    border-bottom: 2px solid #DF7861;
    text-transform: uppercase;
}
/* Hero styling */

.hero {
    position: relative;
}

.hero h2 {
    color: var(--bg-clr);
    position:absolute;
    margin: 20px 45px;
    padding: 20px;
    bottom: 8px;
    right: 16px;
    background-color: #94B49F;
}

.hero img {
    width: 100%;
    height: 250px;
}

/*Main styling */

/* about me */
.aboutMe {
    color: var(--bg-clr);
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.aboutMe h1 {
    flex: 1 1 10%;
    font-size: 20px;
    border-right: 2px solid var(--bg-clr);
    padding: 10px;
    text-align: right;

}

.aboutMe p {
    flex: 1 1 90%;
    padding: 10px;

}

/* work */
.work {
    display: flex;
    flex-wrap: wrap;
    color: var(--bg-clr);
    margin: 5px 0;

}

.work h1 {
    font-size: 20px;
    flex: 1 1 10%;
    border-right: 2px solid var(--bg-clr);
    padding: 10px;
    text-align: right;
}


/* projects */
.projects-container {
    flex: 1 1 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 1 1 33%;
    flex-wrap: wrap;
    height: 200px;
    min-width: 200px;
    border: 5px solid var(--accent-clr);
    opacity: .8;
    background-image: url(../images/coming-soon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.text {
    padding: 5px;
    background-color:#94B49F;
    width: fit-content;
    margin: 10px 0;

}

.card:hover {
    border: 5px solid gold;
    opacity: 1;
}

.card:hover > .text {
    background-color: gold;
}

/* contact me styling */

.contactMe {
    display: flex;
    color: var(--bg-clr);
    margin: 5px 0;

}

.contactMe h1 {
    flex: 1 1 10%;
    flex-wrap: wrap;
    font-size: 20px;
    border-right: 2px solid var(--bg-clr);
    padding: 10px;
    text-align: right;

}

.contact-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 90%;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.link {
    list-style: none;
    text-decoration: none;
}

.link a {
    text-decoration: none;
    color: var(--bg-clr);
    border-bottom: 2px solid var(--bg-clr);
    font-weight: bold;
    justify-content: space-around;
    opacity: .8;
}

.link a:hover {
    opacity: 1;
}

/* Media queries for smaller sceens */
@media screen and (max-width: 1038px) {
    header {
      padding-bottom: 10px;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }