:root {
    --accent-clr: #21326a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}
body {
    background-color: #FFF;
    font-family: 'roboto', sans-serif;

}
/* Header styling */

header {
    background-color: var(--accent-clr);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 0 35px 0 35px;
}
header h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
}
header h1 a {
    text-decoration: none;
    color: #FFF;
}
/* NAV */
header nav {
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav li a {
    padding: 10px 15px;
    font-weight: light;
    font-size: 1.55vw;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}


/*Main styling */

/* about me */
.aboutMe {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.aboutMe h1 {
    flex: 1 1 10%;
    color: var(--accent-clr);
    font-size: 20px;
    border-right: 2px solid var(--accent-clr);
    padding: 10px;
    text-align: right;

}

.aboutMe p {
    flex: 1 1 90%;
    padding: 10px;

}

/* work */
.work {
    display: flex;
    flex-wrap: wrap;
    color: var(--bg-clr);
    margin: 5px 0;

}

.work h1 {
    font-size: 20px;
    flex: 1 1 10%;
    color: var(--accent-clr);
    border-right: 2px solid var(--accent-clr);
    padding: 10px;
    text-align: right;
}


/* projects */
.projects-container {
    flex: 1 1 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 1 1 33%;
    flex-wrap: wrap;
    height: 200px;
    min-width: 300px;
    border: 5px solid var(--accent-clr);
    background-image: url(../images/coming-soon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    text-decoration: none;
    color: var(--accent-clr);

}

.text {
    padding: 5px;
    background-color:var(--accent-clr);
    color: #FFF;
    width: fit-content;
    margin: 10px 0;
}


.card:hover {
    border: 5px solid gold;
}

.card:hover > .text {
    background-color: gold;
}

/* contact me styling */

.contactMe {
    display: flex;
    color: var(--accent-clr);
    margin: 5px 0;

}

.contactMe h1 {
    flex: 1 1 10%;
    flex-wrap: wrap;
    font-size: 20px;
    border-right: 2px solid var(--accent-clr);
    padding: 10px;
    text-align: right;

}

.contact-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 90%;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.link {
    list-style: none;
    text-decoration: none;
}

.link a {
    text-decoration: none;
    color: var(--accent-clr);
    border-bottom: 2px solid var(--accent-clr);
    font-weight: bold;
    justify-content: space-around;
    opacity: .8;
}

.link a:hover {
    opacity: 1;
}

/* Media queries for smaller sceens */
@media screen and (max-width: 1038px) {
    header {
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
      align-items: center;
  }

    .aboutMe {
        flex-direction: column;
        align-items: center;
    }
    .aboutMe h1 {
        border-right: none;
        border-bottom: 2px solid var(--accent-clr);
    }

    .work {
        flex-direction: column;
        align-items: center;
    }

    .work h1 {
        border-right: none;
        border-bottom: 2px solid var(--accent-clr);
    }

    .contactMe {
        flex-direction: column;
        align-items: center;
    }

    .contactMe h1 {
        border-right: none;
        border-bottom: 2px solid var(--accent-clr);
        margin-bottom: 1em;
    }

    .contactMe .contact-links{
        gap: 1em;
    }
}