:root {
    --accent-clr: #101010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}
body {
    background-color: #FaFaFa;
    font-family: 'roboto', sans-serif;

}
/* Header styling */

header {
    background-color: var(--accent-clr);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 0 35px 0 35px;
    box-shadow: 0 10px 100px var(--accent-clr);
}
header h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    margin-left: 8%;

}
header h1 a {
    text-decoration: none;
    color: #FFF;
    transition: 0.2s ease-out;

}
/* NAV */
header nav {
    display: flex;
    align-items: center;

    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav li a {
    padding: 10px 15px;
    font-weight: light;
    font-size: 1.55vw;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

/* hover effects */
header :hover {
    color: #757575;
}

/*Main styling */

/* about me */
.aboutMe {
    display: flex;
    flex-wrap: wrap;
    margin: 500px 0;
}

.aboutMe h1 {
    flex: 1 1 10%;
    color: var(--accent-clr);
    font-size: 20px;
    border-right: 2px solid var(--accent-clr);
    padding: 10px;
    text-align: right;

}

.aboutMe p {
    flex: 1 1 90%;
    padding: 0 10px;
    color: rgb(93, 93, 93)
}

/* work */
.work {
    display: flex;
    flex-wrap: wrap;
    color: var(--bg-clr);
    margin: 5px 0;

}

.work h1 {
    font-size: 20px;
    flex: 1 1 10%;
    color: var(--accent-clr);
    border-right: 2px solid var(--accent-clr);
    padding: 10px;
    text-align: right;
}


/* projects */
.projects-container {
    flex: 1 1 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex: 1 1 33%; 
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 200px;
    background-image: url(../images/coming-soon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    text-decoration: none;
    color: var(--accent-clr);
    border-radius: 3px;
    box-shadow: 0 0 10px var(--accent-clr);
    transition: 0.2s ease-out;

}

#Horiseon {
    background-image: url(../images/HoriseonScreenCapture.png);
    flex-basis: 100%;
}

#personalMix {
    background-image: url(../images/personalMix.PNG);
}

#TicTac {
    background-image: url(../images/TIC-TAC-ScreenCapture.PNG);
}

.text {
    padding: 0 10px;
    background-color:var(--accent-clr);
    color: #FFF;
    width: fit-content;
    margin: 10px 0;
    text-align: right;
    border-radius: 0 10px 10px 0;
}


.card:hover {
    transform: scale(1.008);
    box-shadow: none;

}


/* contact me styling */

.contactMe {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: var(--accent-clr);
    color: #FFF;
    margin: 5px 0;

}

.contactMe h1 {
    flex: 1 1 10%;
    flex-wrap: wrap;
    font-size: 20px;
    border-right: 2px solid #fafafa;
    padding: 0 10px;
    text-align: right;
    margin:10px 0;

}

.contact-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 90%;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.link {
    list-style: none;
    text-decoration: none;
}

.link a {
    text-decoration: none;
    color: #FFF;
    border-bottom: 2px solid #FFF;
    font-weight: bold;
    justify-content: space-around;
    opacity: .8;
}

.link a:hover {
    opacity: 1;
}

/* Media queries for smaller sceens */
@media screen and (max-width: 1038px) {
    header {
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
      align-items: center;
  }

    .aboutMe {
        flex-direction: column;
        align-items: center;
    }
    .aboutMe h1 {
        border-right: none;
        border-bottom: 2px solid var(--accent-clr);
    }

    .work {
        flex-direction: column;
        align-items: center;
    }

    .work h1 {
        border-right: none;
        border-bottom: 2px solid var(--accent-clr);
    }

    .contactMe {
        flex-direction: column;
        align-items: center;
    }

    .contactMe h1 {
        border-right: none;
        border-bottom: 2px solid var(--accent-clr);
    }

    .contactMe .contact-links{
        gap: 1em;
        margin-bottom: 10px;
    }
}